:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Arial, sans-serif;
  color: #374151;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 4px;
}

button {
  border: 1px solid #e5e7eb;
  background-color: white;
  color: #374151;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: #f3f4f6;
}

button:disabled {
  background-color: #f9fafb;
  color: #9ca3af;
  border-color: #e5e7eb;
  cursor: not-allowed;
}

a {
  color: #3b82f6;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  text-decoration: underline;
  color: #2563eb;
}

input,
select {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  background-color: white;
  transition: border-color 0.2s ease-in-out;
}

input:focus,
select:focus {
  outline: none;
  border-color: black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"] {
  width: 13px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 8px;
  padding-bottom: 4px;
}

h3 {
  margin-bottom: 4px;
  font-size: 1.2rem;
  color: #1f2937;
}
